.header {
    display: grid;
    grid-template-columns: 12fr 2fr 1fr;
    height: 100px;
    top: 30px;
    background-color: $white;
    width: calc(100% - 60px);
    position: fixed;
    z-index: 1000;
    &__desktop {
        margin: auto 0;
    }
    &__controller {
        display: flex;
        margin-left: 40px;
    }
    &__link {
        margin: 0 20px;
        font-family: $font;
        font-size: 11px;
        font-weight: $bold;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: -3px;
            height: 2px;
            background-color: $black;
            background-position: center;
            width: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }
        &:hover::before {
            content: "";
            width: 100%;
            -webkit-transition: all $time ease-in-out;
            -o-transition: all $time ease-in-out;
            transition: all $time ease-in-out;
        }
    }
    &__logo__container {
        margin: 0;
        padding: 0;
    }
    &-desktop__logo {
        padding-top: 15px;
        display: flex;
        justify-content: center;
    }
    &-mobile__logo {
        display: none;
    }
    &__profile-mobile {
        display: none;
        margin: auto;
    }
    &__profile {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__profile-name {
        color: #393939;
        font-family: $font;
        font-size: 10px;
        font-weight: $regular;
        letter-spacing: 1px;
        margin: 0 auto;
        padding-top: 5px;
    }
    &__profile-img {
        margin: 0 auto;
    }

    &__button {
        display: none;
        margin: auto;
        border-radius: 2px;
        &:hover ~ {
            .header__mobile {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &__mobile {
        visibility: hidden;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: fixed;
        top: 30px;
        left: 30px;
        background-color: $yellow-op;
        width: calc(100% - 60px);
        height: 100%;
        transition: .3s ease-in-out;
        &__controller {
            display: flex;
            flex-direction: column;
        }
        &__link {
            padding: 10px 0;
        }
    }
    &__authentication {
        display: flex;
        flex-direction: column;
        margin: auto;
        color: $semi-gray;
        font-family: $font;
        font-size: 10px;
        font-weight: $regular;
        letter-spacing: 1px;
    }
    &__login {
        width: 74px;
        height: 34px;
        border: 2px $black solid;
        border-radius: 4px;
        margin-bottom: 8px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            color: $white;
            background-color: $black;
            transition: all $time-half;
        }
    }
}

@media (max-width: $desktop-width) {
    .header {
        height: 50px;
        &-desktop__logo {
            display: none;
        }
        &-mobile__logo {
            display: block;
            margin: 10px;
        }
        &__desktop {
            display: none;
        }
        &__button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
        }

        &__authentication {
            display: none;
        }
        &__authentication__mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__login {
            align-items: center;
            margin: auto
        }
        &__profile {
            display: none;
        }
        &__profile-mobile {
            display: block;
        }
    }
}

@media (max-width: $phone-landscape-width) {
    .header {
        grid-template-columns: 6fr 2fr 1fr;
    }
}
