.grid-section {
    display: grid;
    grid: repeat(11, 80px) / 1fr 2fr;
    grid-gap: 0;
    margin-top: 130px;
    .slider {
        grid-area: span 11 / span 1;
        position: relative;
        &__img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            &:nth-child(2),
            &:nth-child(3) {
                display: none;
            }
        }
        &__item {
            width: 100%;
            height: 100%;
        }
        &__next {
            display: none;
            position: absolute;
        }
        &__prev {
            display: none;
            position: absolute;
        }
    }
    .info {
        grid-area: span 10 / span 1;
        background-color: $yellow;
        &__title {
            color: $black;
            font-family: $font;
            font-size: 36px;
            font-weight: $regular;
            line-height: 46px;
            letter-spacing: 3.6px;
            padding: 7% 0 7% 10%;
        }
        &__title-mobile {
            color: $black;
            font-family: $font;
            font-size: 24px;
            font-weight: $regular;
            line-height: 32px;
            letter-spacing: 3.6px;
            padding: 7% 0 7% 10%;
            display: none;
        }
        &__description {
            color: $gray;
            font-family: 'Roboto';
            font-size: 14px;
            font-weight: $regular;
            line-height: 20px;
            max-width: 600px;
            margin: 0 auto;
            padding-bottom: 20px;
        }
        &__group {
            display: flex;
            justify-content: center;
            max-width: 600px;
            margin: 37px auto;
        }
        &__btn {
            @include btn($black);
            background: transparent;
            &:hover{
                color: $white;
                background-color: $black;
                transition: all $time;
            }
            &:first-child {
                margin-right:7px;
            }
        }
    }
}

@media (max-width: $desktop-width) {
    .grid-section {
        margin-top: 80px;
        .info {;
            &__description {
                width: 81%;
            }
        }
    }

}

@media (max-width: $tablet-landscape-width) {
    .grid-section {
        grid: repeat(11, 80px) / 1fr;
        .slider {
            display: none;
        }
        .info {
            margin-top: -30px;
        }
    }
}

@media (max-width: $tablet-portrait-width) {
    .grid-section {
        .info {
            &__group {
                flex-direction: column;
                padding: 5px;
            }
            &__btn {
                margin: 7px 0;
            }
        }
    }
}

@media (max-width: $phone-landscape-width) {
    .grid-section {
        grid: repeat(12, 80px) / 1fr;
        .info {
            grid-area: span 11 / span 1;
            &__title {
                display: none;
            }
            &__title-mobile {
                display: block;
            }
        }
        .top-line {
            grid-template-columns: 1fr 2fr;

            .user-tools {
                &__button {
                    margin: 0;
                    height: 36px;
                    width: 36px;
                }
            }
        }
    }
}

@media (max-width: $phone-portrait-width) {
    .grid-section {
        grid: repeat(14, 80px) / 1fr;
        .info {
            grid-area: span 13 / span 1;
            &__btn {
                padding-top: 10px;
                padding-bottom: 15px;
                letter-spacing: 1.4px;
            }
        }
    }
}
